<option value="1426718729">Аральск</option>
    <option value="1426718736">Байконыр</option>
    <option value="1426718752">Казалинск</option>
    <option value="1426718765">Кызылорда</option>
    <option value="1426718846">п. Тасбугет</option>
    <option value="1426718847">с. Жалагаш</option>
    <option value="1426718848">с. Жанакорган</option>
    <option value="1426718849">п. Айтеке би</option>
    <option value="1426718850">с. Жосалы</option>
    <option value="1426718851">с. Шиели</option>
    <option value="655615">Петрозаводск</option>
    <option value="655616">Кемь</option>
    <option value="655617">Кондопога</option>
    <option value="655618">Костомукша</option>
    <option value="655619">Сегежа</option>
    <option value="655620">Сортавала</option>
    <option value="655621">Медвежьегорск</option>
    <option value="235536388">с. Азатан</option>
    <option value="235536400">Артик</option>
    <option value="235536404">с. Ахурян</option>
    <option value="235536422">Гюмри</option>
    <option value="235536441">Маралик</option>
