<option value="1426784261">Актау</option>
    <option value="1426784279">Жанаозен</option>
    <option value="1426784332">Форт-Шевченко</option>
    <option value="1426784388">с. Тенге</option>
    <option value="1426784389">с. Бейнеу</option>
    <option value="1426784390">с. Жетыбай</option>
    <option value="1426784391">с. Шетпе</option>
    <option value="1426784392">с. Мангистау</option>
    <option value="1426784393">с. Атамекен</option>
    <option value="1426784394">с. Баскудук</option>
    <option value="1426784395">с. Кызылтобе</option>
    <option value="721158">Сыктывкар</option>
    <option value="721159">Воркута</option>
    <option value="721160">Воргашор</option>
    <option value="721161">Вуктыл</option>
    <option value="721162">Инта</option>
    <option value="721163">Печора</option>
    <option value="721164">Сосногорск</option>
    <option value="721165">Усинск</option>
    <option value="721166">Ухта</option>
    <option value="721167">Емва</option>
    <option value="235601965">Ереван</option>
