<option value="1426849796">Аксу</option>
    <option value="1426849842">Павлодар</option>
    <option value="1426849878">Экибастуз</option>
    <option value="787002">Йошкар-Ола</option>
    <option value="787003">Волжск</option>
    <option value="787004">Козьмодемьянск</option>
    <option value="787005">Медведево</option>
