<option value="1426915346">Булаево</option>
    <option value="1426915377">Мамлютка</option>
    <option value="1426915379">Петропавловск</option>
    <option value="1426915388">Сергеевка</option>
    <option value="1426915392">Тайынша</option>
    <option value="1426915485">с. Саумалколь</option>
    <option value="1426915486">с. Новоишимское</option>
    <option value="852542">Саранск</option>
    <option value="852543">Ковылкино</option>
    <option value="852544">Рузаевка</option>
    <option value="852545">Комсомольский</option>
