<option value="1426980875">Арысь</option>
    <option value="1426980892">Жетысай</option>
    <option value="1426980904">Кентау</option>
    <option value="1426980910">Ленгер</option>
    <option value="1426980921">Сарыагаш</option>
    <option value="1426980935">Туркестан</option>
    <option value="1426980942">Шардара</option>
    <option value="1426980948">Шымкент</option>
    <option value="1426981004">с. Карнак</option>
    <option value="1426981005">с. Староикан</option>
    <option value="1426981006">с. Казыгурт</option>
    <option value="1426981007">а. Асыката</option>
    <option value="1426981008">а. Атакент</option>
    <option value="1426981009">а. Мырзакент</option>
    <option value="1426981010">с. Темирлановка</option>
    <option value="1426981011">с. Аксу</option>
    <option value="1426981012">с. Карабулак</option>
    <option value="1426981013">с. Карасу</option>
    <option value="1426981014">с. Манкент</option>
    <option value="1426981016">с. Абай</option>
    <option value="1426981017">с. Дербисек</option>
    <option value="1426981018">с. Коксаек</option>
    <option value="1426981019">с. им.Турара Рыскулова</option>
    <option value="1426981020">а. Тюлькубас</option>
    <option value="918468">Якутск</option>
    <option value="918469">Мирный</option>
    <option value="918470">Нерюнгри</option>
    <option value="918471">Алдан</option>
    <option value="918472">Ленск</option>
    <option value="918473">Удачный</option>
    <option value="918474">Айхал</option>
