<option value="983428">Владикавказ</option>
    <option value="983429">Заводской</option>
    <option value="983430">Алагир</option>
    <option value="983431">Ардон</option>
    <option value="983432">Моздок</option>
    <option value="983433">Беслан</option>
