<option value="1180248">Ижевск</option>
    <option value="1180249">Воткинск</option>
    <option value="1180250">Глазов</option>
    <option value="1180251">Можга</option>
    <option value="1180252">Сарапул</option>
    <option value="1180253">Балезино</option>
    <option value="1180254">Игра</option>
    <option value="1180255">Ува</option>
