<option value="1246023">Абакан</option>
    <option value="1246024">Саяногорск</option>
    <option value="1246025">Черногорск</option>
    <option value="1246026">Абаза</option>
    <option value="1246027">Усть-Абакан</option>
