<option value="131618">Уфа</option>
    <option value="1426194438">Актобе</option>
    <option value="1426194439">Алга</option>
    <option value="1426194459">Жем</option>
    <option value="1426194465">Кандыагаш</option>
    <option value="1426194501">Темир</option>
    <option value="1426194509">Хромтау</option>
    <option value="1426194511">Шалкар</option>
    <option value="1426194519">Эмба</option>
    <option value="1426194520">с. Каргалинское</option>
    <option value="1426194521">п. Шубаркудук</option>
    <option value="352452610">Барань</option>
    <option value="352452618">Браслав</option>
    <option value="352452623">Верхнедвинск</option>
    <option value="352452626">Витебск</option>
    <option value="352452631">Глубокое</option>
    <option value="352452634">Городок</option>
    <option value="352452638">Дисна</option>
    <option value="352452640">Докшицы</option>
    <option value="352452642">Дубровно</option>
    <option value="352452667">Лепель</option>
    <option value="352452677">Миоры</option>
    <option value="352452687">Новолукомль</option>
    <option value="352452688">Новополоцк</option>
    <option value="352452689">Орша</option>
    <option value="352452695">Полоцк</option>
    <option value="352452696">Поставы</option>
    <option value="352452702">Сенно</option>
    <option value="352452713">Толочин</option>
    <option value="352452719">Чашники</option>
    <option value="131619">Агидель</option>
    <option value="131620">Баймак</option>
    <option value="131621">Белебей</option>
    <option value="131622">Приютово</option>
    <option value="131623">Белорецк</option>
    <option value="131624">Бирск</option>
    <option value="131625">Благовещенск</option>
    <option value="131626">Давлеканово</option>
    <option value="131627">Дюртюли</option>
    <option value="131628">Ишимбай</option>
    <option value="131629">Кумертау</option>
    <option value="131630">Межгорье</option>
    <option value="131631">Мелеуз</option>
    <option value="131632">Нефтекамск</option>
    <option value="131633">Октябрьский</option>
    <option value="131634">Салават</option>
    <option value="131635">Сибай</option>
    <option value="131636">Стерлитамак</option>
    <option value="131637">Туймазы</option>
    <option value="131638">Учалы</option>
    <option value="131639">Янаул</option>
    <option value="131640">Раевский</option>
    <option value="131641">Чишмы</option>
    <option value="235012165">с. Нор Харберд</option>
    <option value="235012159">с. Мхчян</option>
    <option value="235012156">Масис</option>
    <option value="235012128">с. Воскетап</option>
    <option value="235012126">Веди</option>
    <option value="235012111">Арташат</option>
    <option value="235012108">Арарат</option>
    <option value="235012107">с. Арарат</option>
    <option value="235012101">с. Айнтап</option>
    <option value="235012098">с. Авшар</option>
    <option value="1812070403">с. Ала-Бука</option>
    <option value="1812070408">с. Арсланбоб</option>
    <option value="1812070411">с. Базар-Коргон</option>
    <option value="1812070415">с. Бек-Абад</option>
    <option value="1812070424">Джалал-Абад</option>
    <option value="1812070433">с. Казарман</option>
    <option value="1812070438">Кара-Куль</option>
    <option value="1812070446">Кербен</option>
    <option value="1812070448">Кок-Жангак</option>
    <option value="1812070449">Кочкор-Ата</option>
    <option value="1812070455">с. Кызыл-Джар</option>
    <option value="1812070463">Майлуу-Суу</option>
    <option value="1812070464">с. Массы</option>
    <option value="1812070473">с. Октябрьское</option>
    <option value="1812070481">с. Советское</option>
    <option value="1812070483">с. Сузак</option>
    <option value="1812070486">Таш-Кумыр</option>
    <option value="1812070491">Токтогул</option>
    <option value="1812070500">пгт Шамалды-Сай</option>
