<option value="1311114">Грозный</option>
    <option value="1311115">Аргун</option>
    <option value="1311116">Гудермес</option>
    <option value="1311117">Урус-Мартан</option>
    <option value="1311118">Шали</option>
    <option value="1311119">Ачхой-Мартан</option>
    <option value="1311120">Курчалой</option>
    <option value="1311121">Бачи-Юрт</option>
    <option value="1311122">Цоцин-Юрт</option>
    <option value="1311123">Автуры</option>
