<option value="1442636">Барнаул</option>
    <option value="1442637">Новосиликатный</option>
    <option value="1442638">Южный</option>
    <option value="1442639">Алейск</option>
    <option value="1442640">Белокуриха</option>
    <option value="1442641">Бийск</option>
    <option value="1442642">Заринск</option>
    <option value="1442643">Камень-на-Оби</option>
    <option value="1442644">Новоалтайск</option>
    <option value="1442645">Рубцовск</option>
    <option value="1442646">Славгород</option>
    <option value="1442647">Яровое</option>
    <option value="1442648">Кулунда</option>
    <option value="1442649">Горняк</option>
    <option value="1442650">Павловск</option>
    <option value="1442651">Тальменка</option>
