<option value="1507732">Краснодар</option>
    <option value="1507733">Калинино</option>
    <option value="1507734">Пашковский</option>
    <option value="1507735">Елизаветинская</option>
    <option value="1507736">Анапа</option>
    <option value="1507737">Армавир</option>
    <option value="1507738">Белореченск</option>
    <option value="1507739">Геленджик</option>
    <option value="1507740">Горячий ключ</option>
    <option value="1507741">Ейск</option>
    <option value="1507742">Кропоткин</option>
    <option value="1507743">Крымск</option>
    <option value="1507744">Лабинск</option>
    <option value="1507745">Новороссийск</option>
    <option value="1507746">Славянск-на-Кубани</option>
    <option value="1507747">Сочи</option>
    <option value="1507748">Тихорецк</option>
    <option value="1507749">Туапсе</option>
    <option value="1507750">Абинск</option>
    <option value="1507751">Ахтырский</option>
    <option value="1507752">Холмская</option>
    <option value="1507753">Апшеронск</option>
    <option value="1507754">Хадыженск</option>
    <option value="1507755">Белая Глина</option>
    <option value="1507756">Брюховецкая</option>
    <option value="1507757">Выселки</option>
    <option value="1507758">Гулькевичи</option>
    <option value="1507759">Динская</option>
    <option value="1507760">Новотитаровская</option>
    <option value="1507761">Каневская</option>
    <option value="1507762">Кореновск</option>
    <option value="1507763">Полтавская</option>
    <option value="1507764">Крыловская</option>
    <option value="1507765">Варениковская</option>
    <option value="1507766">Курганинск</option>
    <option value="1507767">Кущевская</option>
    <option value="1507768">Ленинградская</option>
    <option value="1507769">Мостовской</option>
    <option value="1507770">Новокубанск</option>
    <option value="1507771">Новопокровская</option>
    <option value="1507772">Отрадная</option>
    <option value="1507773">Павловская</option>
    <option value="1507774">Приморско-Ахтарск</option>
    <option value="1507775">Афипский</option>
    <option value="1507776">Ильский</option>
    <option value="1507777">Северская</option>
    <option value="1507778">Староминская</option>
    <option value="1507779">Тбилисская</option>
    <option value="1507780">Темрюк</option>
    <option value="1507781">Тимашевск</option>
    <option value="1507782">Медведовская</option>
    <option value="1507783">Усть-Лабинск</option>
    <option value="1507784">Ладожская</option>
    <option value="1507785">Старощербиновская</option>
