<option value="1573724">Красноярск</option>
    <option value="1573725">Ачинск</option>
    <option value="1573726">Боготол</option>
    <option value="1573727">Бородино</option>
    <option value="1573728">Дивногорск</option>
    <option value="1573729">Енисейск</option>
    <option value="1573730">Железногорск</option>
    <option value="1573731">Зеленогорск</option>
    <option value="1573732">Канск</option>
    <option value="1573733">Лесосибирск</option>
    <option value="1573734">Минусинск</option>
    <option value="1573735">Назарово</option>
    <option value="1573736">Норильск</option>
    <option value="1573737">Кайеркан</option>
    <option value="1573738">Талнах</option>
    <option value="1573739">Сосновоборск</option>
    <option value="1573740">Шарыпово</option>
    <option value="1573741">Березовка</option>
    <option value="1573742">Иланский</option>
    <option value="1573743">Кодинск</option>
    <option value="1573744">Курагино</option>
    <option value="1573745">Ужур</option>
    <option value="1573746">Шушенское</option>
    <option value="1573747">Дудинка</option>
