<option value="1639371">Владивосток</option>
    <option value="1639372">Трудовое</option>
    <option value="1639373">Арсеньев</option>
    <option value="1639374">Артем</option>
    <option value="1639375">Заводской</option>
    <option value="1639376">Большой Камень</option>
    <option value="1639377">Дальнегорск</option>
    <option value="1639378">Дальнереченск</option>
    <option value="1639379">Лесозаводск</option>
    <option value="1639380">Находка</option>
    <option value="1639381">Врангель</option>
    <option value="1639382">Партизанск</option>
    <option value="1639383">Спасск-Дальний</option>
    <option value="1639384">Уссурийск</option>
    <option value="1639385">Фокино</option>
    <option value="1639386">Кавалерово</option>
    <option value="1639387">Лучегорск</option>
    <option value="1639388">Славянка</option>
    <option value="1639389">Черниговка</option>
