<option value="1704394">Ставрополь</option>
    <option value="1704395">Буденновск</option>
    <option value="1704396">Георгиевск</option>
    <option value="1704397">Ессентуки</option>
    <option value="1704398">Железноводск</option>
    <option value="1704399">Иноземцево</option>
    <option value="1704400">Кисловодск</option>
    <option value="1704401">Лермонтов</option>
    <option value="1704402">Минеральные Воды</option>
    <option value="1704403">Невинномысск</option>
    <option value="1704404">Пятигорск</option>
    <option value="1704405">Горячеводский</option>
    <option value="1704406">Свободы</option>
    <option value="1704407">Александровское</option>
    <option value="1704408">Дивное</option>
    <option value="1704409">Арзгир</option>
    <option value="1704410">Благодарный</option>
    <option value="1704411">Незлобная</option>
    <option value="1704412">Изобильный</option>
    <option value="1704413">Ипатово</option>
    <option value="1704414">Новопавловск</option>
    <option value="1704415">Кочубеевское</option>
    <option value="1704416">Красногвардейское</option>
    <option value="1704417">Нефтекумск</option>
    <option value="1704418">Новоалександровск</option>
    <option value="1704419">Светлоград</option>
    <option value="1704420">Ессентукская</option>
    <option value="1704421">Суворовская</option>
    <option value="1704422">Зеленокумск</option>
    <option value="1704423">Донское</option>
    <option value="1704424">Михайловск</option>
