<option value="1770462">Хабаровск</option>
    <option value="1770463">Амурск</option>
    <option value="1770464">Бикин</option>
    <option value="1770465">Комсомольск-на-Амуре</option>
    <option value="1770466">Николаевск-на-Амуре</option>
    <option value="1770467">Советская Гавань</option>
    <option value="1770468">Ванино</option>
    <option value="1770469">Чегдомын</option>
    <option value="1770470">Вяземский</option>
    <option value="1770471">Солнечный</option>
