<option value="1836008">Благовещенск</option>
    <option value="1836009">Белогорск</option>
    <option value="1836010">Зея</option>
    <option value="1836011">Райчихинск</option>
    <option value="1836012">Свободный</option>
    <option value="1836013">Тында</option>
    <option value="1836014">Шимановск</option>
    <option value="1836015">Завитинск</option>
