<option value="1900816">Архангельск</option>
    <option value="1900817">Коряжма</option>
    <option value="1900818">Котлас</option>
    <option value="1900819">Мирный</option>
    <option value="1900820">Новодвинск</option>
    <option value="1900821">Онега</option>
    <option value="1900822">Северодвинск</option>
    <option value="1900823">Вельск</option>
    <option value="1900824">Няндома</option>
