<option value="1426259976">Алматы</option>
    <option value="1426259989">Есик</option>
    <option value="1426259993">Жаркент</option>
    <option value="1426260002">Капчагай</option>
    <option value="1426260007">Каскелен</option>
    <option value="1426260024">Сарканд</option>
    <option value="1426260033">Талгар</option>
    <option value="1426260034">Талдыкорган</option>
    <option value="1426260036">Текели</option>
    <option value="1426260042">Ушарал</option>
    <option value="1426260043">Уштобе</option>
    <option value="1426260058">с. Еркин</option>
    <option value="1426260059">с. Тургень</option>
    <option value="1426260060">с. Узынагаш</option>
    <option value="1426260061">с. Каргалы</option>
    <option value="1426260062">с. Сарыозек</option>
    <option value="1426260063">с. Балпык би</option>
    <option value="1426260064">с. Акжар</option>
    <option value="1426260065">с. Шамалган</option>
    <option value="1426260066">с. Коктал</option>
    <option value="1426260067">с. Бесагаш</option>
    <option value="1426260068">с. Туздыбастау</option>
    <option value="1426260069">с. Карабулак</option>
    <option value="1426260070">с. Чунджа</option>
    <option value="1426260071">с. Отеген батыра</option>
    <option value="1426260072">с. Мухаметжан Туймебаева</option>
    <option value="1426260073">п. Боралдай</option>
    <option value="1426260074">с. Жетыген</option>
    <option value="1426260075">с. Байсерке</option>
    <option value="352518156">Буда-Кошелево</option>
    <option value="352518158">Василевичи</option>
    <option value="352518160">Ветка</option>
    <option value="352518168">Гомель</option>
    <option value="352518175">Добруш</option>
    <option value="352518180">Ельск</option>
    <option value="352518182">Житковичи</option>
    <option value="352518183">Жлобин</option>
    <option value="352518189">Калинковичи</option>
    <option value="352518199">рп Костюковка</option>
    <option value="352518202">гп Лельчицы</option>
    <option value="352518215">Мозырь</option>
    <option value="352518220">Наровля</option>
    <option value="352518229">Петриков</option>
    <option value="352518234">Речица</option>
    <option value="352518235">Рогачев</option>
    <option value="352518236">Светлогорск</option>
    <option value="352518250">Туров</option>
    <option value="352518253">Хойники</option>
    <option value="352518258">Чечерск</option>
    <option value="197441">Улан-Удэ</option>
    <option value="197442">Северобайкальск</option>
    <option value="197443">Селенгинск</option>
    <option value="197444">Кяхта</option>
    <option value="197445">Гусиноозерск</option>
    <option value="235077707">с. Сардарапат</option>
    <option value="235077704">с. Паракар</option>
    <option value="235077696">с. Налбандян</option>
    <option value="235077694">Мецамор</option>
    <option value="235077690">с. Маргашат</option>
    <option value="235077683">с. Каракерт</option>
    <option value="235077657">Вагаршапат</option>
    <option value="235077649">с. Аршалуйс</option>
    <option value="235077646">Армавир</option>
    <option value="1812135942">с. Ананьево</option>
    <option value="1812135949">Балыкчы</option>
    <option value="1812135953">с. Боконбаево</option>
    <option value="1812135954">с. Бостери</option>
    <option value="1812135979">Каракол</option>
    <option value="1812135995">с. Кызыл-Суу</option>
    <option value="1812136016">с. Саруу</option>
    <option value="1812136025">с. Теплоключенка</option>
    <option value="1812136028">с. Тюп</option>
    <option value="1812136034">Чолпон-Ата</option>
