<option value="1966569">Астрахань</option>
    <option value="1966570">Ахтубинск</option>
    <option value="1966571">Знаменск</option>
    <option value="1966572">Камызяк</option>
    <option value="1966573">Харабали</option>
