<option value="2162714">Владимир</option>
    <option value="2162715">Александров</option>
    <option value="2162716">Вязники</option>
    <option value="2162717">Гусь-Хрустальный</option>
    <option value="2162718">Ковров</option>
    <option value="2162719">Кольчугино</option>
    <option value="2162720">Муром</option>
    <option value="2162721">Собинка</option>
    <option value="2162722">Лакинск</option>
    <option value="2162723">Радужный</option>
    <option value="2162724">Карабаново</option>
    <option value="2162725">Струнино</option>
    <option value="2162726">Гороховец</option>
    <option value="2162727">Камешково</option>
    <option value="2162728">Киржач</option>
    <option value="2162729">Меленки</option>
    <option value="2162730">Петушки</option>
    <option value="2162731">Покров</option>
    <option value="2162732">Юрьев-Польский</option>
