<option value="2359341">Воронеж</option>
    <option value="2359342">Придонской</option>
    <option value="2359343">Борисоглебск</option>
    <option value="2359344">Лиски</option>
    <option value="2359345">Нововоронеж</option>
    <option value="2359346">Острогожск</option>
    <option value="2359347">Поворино</option>
    <option value="2359348">Россошь</option>
    <option value="2359349">Анна</option>
    <option value="2359350">Бобров</option>
    <option value="2359351">Бутурлиновка</option>
    <option value="2359352">Грибановский</option>
    <option value="2359353">Калач</option>
    <option value="2359354">Новая Усмань</option>
    <option value="2359355">Павловск</option>
    <option value="2359356">Семилуки</option>
