<option value="2491252">Иркутск</option>
    <option value="2491253">Ангарск</option>
    <option value="2491254">Бодайбо</option>
    <option value="2491255">Братск</option>
    <option value="2491256">Зима</option>
    <option value="2491257">Нижнеудинск</option>
    <option value="2491258">Саянск</option>
    <option value="2491259">Тайшет</option>
    <option value="2491260">Тулун</option>
    <option value="2491261">Усолье-Сибирское</option>
    <option value="2491262">Усть-Илимск</option>
    <option value="2491263">Усть-Кут</option>
    <option value="2491264">Черемхово</option>
    <option value="2491265">Свирск</option>
    <option value="2491266">Шелехов</option>
    <option value="2491267">Вихоревка</option>
    <option value="2491268">Железногорск-Илимский</option>
    <option value="2491269">Слюдянка</option>
    <option value="2491270">Байкальск</option>
    <option value="2491271">Чунский</option>
    <option value="2491272">Усть-Ордынский</option>
