<option value="1426325518">Атырау</option>
    <option value="1426325547">Кульсары</option>
    <option value="1426325613">п. Индерборский</option>
    <option value="1426325614">с. Ганюшкино</option>
    <option value="1426325615">п. Макат</option>
    <option value="1426325616">п. Доссор</option>
    <option value="352583687">Березовка</option>
    <option value="352583699">Волковыск</option>
    <option value="352583707">Гродно</option>
    <option value="352583715">Дятлово</option>
    <option value="352583724">Ивье</option>
    <option value="352583740">Лида</option>
    <option value="352583753">Мосты</option>
    <option value="352583758">Новогрудок</option>
    <option value="352583763">гп Островец</option>
    <option value="352583764">Ошмяны</option>
    <option value="352583773">Свислочь</option>
    <option value="352583775">Скидель</option>
    <option value="352583777">Слоним</option>
    <option value="352583780">Сморгонь</option>
    <option value="352583796">Щучин</option>
    <option value="262975">Горно-Алтайск</option>
    <option value="262976">Майма</option>
    <option value="235143212">Егегнадзор</option>
    <option value="235143208">Джермук</option>
    <option value="235143194">Вайк</option>
    <option value="1812201481">с. Ат-Башы</option>
    <option value="1812201482">с. Баетово</option>
    <option value="1812201522">с. Кочкорка</option>
    <option value="1812201539">Нарын</option>
    <option value="1812201568">с. Чаек</option>
