<option value="2621511">Калуга</option>
    <option value="2621512">Киров</option>
    <option value="2621513">Людиново</option>
    <option value="2621514">Обнинск</option>
    <option value="2621515">Балабаново</option>
    <option value="2621516">Кондрово</option>
    <option value="2621517">Товарково</option>
    <option value="2621518">Козельск</option>
    <option value="2621519">Малоярославец</option>
    <option value="2621520">Сухиничи</option>
