<option value="2753417">Кемерово</option>
    <option value="2753418">Кедровка</option>
    <option value="2753419">Анжеро-Судженск</option>
    <option value="2753420">Белово</option>
    <option value="2753421">Бачатский</option>
    <option value="2753422">Грамотеино</option>
    <option value="2753423">Новый Городок</option>
    <option value="2753424">Березовский</option>
    <option value="2753425">Гурьевск</option>
    <option value="2753426">Калтан</option>
    <option value="2753427">Киселевск</option>
    <option value="2753428">Ленинск-Кузнецкий</option>
    <option value="2753429">Полысаево</option>
    <option value="2753430">Мариинск</option>
    <option value="2753431">Междуреченск</option>
    <option value="2753432">Мыски</option>
    <option value="2753433">Новокузнецк</option>
    <option value="2753434">Осинники</option>
    <option value="2753435">Прокопьевск</option>
    <option value="2753436">Тайга</option>
    <option value="2753437">Таштагол</option>
    <option value="2753438">Топки</option>
    <option value="2753439">Юрга</option>
    <option value="2753440">Промышленная</option>
    <option value="2753441">Тяжинский</option>
    <option value="2753442">Яшкино</option>
