<option value="2883665">Кострома</option>
    <option value="2883666">Буй</option>
    <option value="2883667">Волгореченск</option>
    <option value="2883668">Галич</option>
    <option value="2883669">Мантурово</option>
    <option value="2883670">Нерехта</option>
    <option value="2883671">Шарья</option>
