<option value="2949838">Курган</option>
    <option value="2949839">Шадринск</option>
    <option value="2949840">Далматово</option>
    <option value="2949841">Катайск</option>
    <option value="2949842">Куртамыш</option>
    <option value="2949843">Шумиха</option>
