<option value="3081212">Санкт-Петербург</option>
    <option value="3080487">Бокситогорск</option>
    <option value="3080488">Волхов</option>
    <option value="3080489">Всеволожск</option>
    <option value="3080490">Выборг</option>
    <option value="3080491">Гатчина</option>
    <option value="3080492">Кингисепп</option>
    <option value="3080493">Кириши</option>
    <option value="3080494">Кировск</option>
    <option value="3080495">Лодейное Поле</option>
    <option value="3080496">Луга</option>
    <option value="3080497">Пикалево</option>
    <option value="3080498">Подпорожье</option>
    <option value="3080499">Приозерск</option>
    <option value="3080500">Сертолово</option>
    <option value="3080501">Сланцы</option>
    <option value="3080502">Сосновый Бор</option>
    <option value="3080503">Тихвин</option>
    <option value="3080504">Тосно</option>
    <option value="3080505">Светогорск</option>
    <option value="3080506">Коммунар</option>
    <option value="3080507">Отрадное</option>
    <option value="3080508">Никольское</option>
    <option value="3080509">Колпино</option>
    <option value="3080510">Металлострой</option>
    <option value="3080511">Красное Село</option>
    <option value="3080512">Сестрорецк</option>
    <option value="3080513">Павловск</option>
    <option value="3080514">Петергоф</option>
    <option value="3080515">Пушкин</option>
    <option value="3080516">Шушары</option>
