<option value="3145823">Липецк</option>
    <option value="3145824">Елец</option>
    <option value="3145825">Грязи</option>
    <option value="3145826">Данков</option>
    <option value="3145827">Лебедянь</option>
    <option value="3145828">Усмань</option>
