<option value="3408493">Нижний Новгород</option>
    <option value="3408494">Арзамас</option>
    <option value="3408495">Балахна</option>
    <option value="3408496">Богородск</option>
    <option value="3408497">Бор</option>
    <option value="3408498">Выкса</option>
    <option value="3408499">Городец</option>
    <option value="3408500">Дзержинск</option>
    <option value="3408501">Кстово</option>
    <option value="3408502">Кулебаки</option>
    <option value="3408503">Павлово</option>
    <option value="3408504">Саров</option>
    <option value="3408505">Заволжье</option>
    <option value="3408506">Лысково</option>
    <option value="3408507">Навашино</option>
    <option value="3408508">Первомайск</option>
    <option value="3408509">Семенов</option>
    <option value="3408510">Сергач</option>
    <option value="3408511">Шахунья</option>
