<option value="3473746">Великий Новгород</option>
    <option value="3473747">Боровичи</option>
    <option value="3473748">Старая Русса</option>
    <option value="3473749">Валдай</option>
    <option value="3473750">Малая Вишера</option>
    <option value="3473751">Окуловка</option>
    <option value="3473752">Пестово</option>
    <option value="3473753">Чудово</option>
