<option value="3867286">Пермь</option>
    <option value="3867287">Александровск</option>
    <option value="3867288">Березники</option>
    <option value="3867289">Губаха</option>
    <option value="3867290">Добрянка</option>
    <option value="3867291">Кизел</option>
    <option value="3867292">Краснокамск</option>
    <option value="3867293">Кунгур</option>
    <option value="3867294">Лысьва</option>
    <option value="3867295">Соликамск</option>
    <option value="3867296">Чайковский</option>
    <option value="3867297">Чусовой</option>
    <option value="3867298">Верещагино</option>
    <option value="3867299">Красновишерск</option>
    <option value="3867300">Нытва</option>
    <option value="3867301">Оса</option>
    <option value="3867302">Очер</option>
    <option value="3867303">Чернушка</option>
    <option value="3867304">Кудымкар</option>
