<option value="1426456600">Жанатас</option>
    <option value="1426456613">Каратау</option>
    <option value="1426456643">Тараз</option>
    <option value="1426456659">Шу</option>
    <option value="1426456690">с. Сарыкемер</option>
    <option value="1426456691">с. им.Б.Момышулы</option>
    <option value="1426456692">а. Кордай</option>
    <option value="1426456693">с. Масанчи</option>
    <option value="1426456694">а. Сортобе</option>
    <option value="1426456695">а. Кулан</option>
    <option value="1426456696">с. Мерке</option>
    <option value="1426456697">а. Толе би</option>
    <option value="352714756">гп Белыничи</option>
    <option value="352714760">Бобруйск</option>
    <option value="352714765">Быхов</option>
    <option value="352714777">Горки</option>
    <option value="352714799">Кировск</option>
    <option value="352714801">Климовичи</option>
    <option value="352714802">Кличев</option>
    <option value="352714806">Костюковичи</option>
    <option value="352714808">Кричев</option>
    <option value="352714822">Могилев</option>
    <option value="352714826">Мстиславль</option>
    <option value="352714834">Осиповичи</option>
    <option value="352714848">Славгород</option>
    <option value="352714862">Чаусы</option>
    <option value="352714865">Чериков</option>
    <option value="352714867">Шклов</option>
    <option value="393579">Малгобек</option>
    <option value="393580">Назрань</option>
    <option value="393581">Карабулак</option>
    <option value="393582">Кантышево</option>
    <option value="393583">Сурхахи</option>
    <option value="393584">Экажево</option>
    <option value="393585">Орджоникидзевская</option>
    <option value="393586">Нестеровская</option>
    <option value="393587">Троицкая</option>
    <option value="394238">Магас</option>
    <option value="235274327">Чаренцаван</option>
    <option value="235274324">Цахкадзор</option>
    <option value="235274314">Раздан</option>
    <option value="235274313">с. Прошян</option>
    <option value="235274308">с. Нор Гехи</option>
    <option value="235274307">Нор Ачн</option>
    <option value="235274293">с. Касах</option>
    <option value="235274286">с. Зовуни</option>
    <option value="235274283">Егвард</option>
    <option value="235274281">с. Джрвеж</option>
    <option value="235274274">с. Гарни</option>
    <option value="235274264">Бюрегаван</option>
    <option value="235274253">с. Ариндж</option>
    <option value="235274241">Абовян</option>
    <option value="1812332556">с. Бакай-Ата</option>
    <option value="1812332598">с. Кызыл-Адыр</option>
    <option value="1812332622">с. Покровка</option>
    <option value="1812332629">Талас</option>
