<option value="4129449">Самара</option>
    <option value="4129457">Тольятти</option>
    <option value="4129450">Жигулевск</option>
    <option value="4129451">Кинель</option>
    <option value="4129452">Новокуйбышевск</option>
    <option value="4129453">Октябрьск</option>
    <option value="4129454">Отрадный</option>
    <option value="4129455">Похвистнево</option>
    <option value="4129456">Сызрань</option>
    <option value="4129458">Чапаевск</option>
    <option value="4129459">Безенчук</option>
    <option value="4129460">Кинель-Черкассы</option>
    <option value="4129461">Нефтегорск</option>
    <option value="4129462">Суходол</option>
