<option value="4260852">Южно-Сахалинск</option>
    <option value="4260853">Корсаков</option>
    <option value="4260854">Невельск</option>
    <option value="4260855">Оха</option>
    <option value="4260856">Поронайск</option>
    <option value="4260857">Холмск</option>
