<option value="4522200">Тверь</option>
    <option value="4522201">Бежецк</option>
    <option value="4522202">Бологое</option>
    <option value="4522203">Вышний Волочек</option>
    <option value="4522204">Кашин</option>
    <option value="4522205">Кимры</option>
    <option value="4522206">Конаково</option>
    <option value="4522207">Нелидово</option>
    <option value="4522208">Осташков</option>
    <option value="4522209">Ржев</option>
    <option value="4522210">Торжок</option>
    <option value="4522211">Удомля</option>
    <option value="4522212">Калязин</option>
    <option value="4522213">Торопец</option>
