<option value="1426522115">Аксай</option>
    <option value="1426522184">Уральск</option>
    <option value="1426522225">п. Зачаганск</option>
    <option value="459124">Нальчик</option>
    <option value="459125">Прохладный</option>
    <option value="459126">Баксан</option>
    <option value="459127">Дугулубгей</option>
    <option value="459128">Майский</option>
    <option value="459129">Терек</option>
    <option value="459130">Нарткала</option>
    <option value="459131">Чегем</option>
    <option value="459132">Тырныауз</option>
    <option value="235339858">Ташир</option>
    <option value="235339856">Степанаван</option>
    <option value="235339855">Спитак</option>
    <option value="235339803">Ванадзор</option>
    <option value="235339795">Ахтала</option>
    <option value="235339784">Алаверди</option>
    <option value="1812398082">с. Ак-Суу</option>
    <option value="1812398084">с. Аламудун</option>
    <option value="1812398085">с. Александровка</option>
    <option value="1812398096">с. Беловодское</option>
    <option value="1812398100">с. Военно-Антоновка</option>
    <option value="1812398108">с. Ивановка</option>
    <option value="1812398114">Каинды</option>
    <option value="1812398115">Кант</option>
    <option value="1812398117">Кара-Балта</option>
    <option value="1812398125">Кемин</option>
    <option value="1812398131">с. Красная Речка</option>
    <option value="1812398140">с. Лебединовка</option>
    <option value="1812398141">с. Ленинское</option>
    <option value="1812398142">с. Маевка</option>
    <option value="1812398148">с. Нижняя-Ала-Арча</option>
    <option value="1812398149">с. Новониколаевка</option>
    <option value="1812398150">с. Новопавловка</option>
    <option value="1812398151">с. Новопокровка</option>
    <option value="1812398154">Орловка</option>
    <option value="1812398156">с. Панфиловское</option>
    <option value="1812398157">с. Петровка</option>
    <option value="1812398159">с. Садовое</option>
    <option value="1812398162">с. Сокулук</option>
    <option value="1812398170">Токмок</option>
    <option value="1812398177">с. Чалдыбар</option>
    <option value="1812398179">с. Чуй</option>
    <option value="1812398182">Шопоков</option>
    <option value="235339859">Туманян</option>
    <option value="235339864">Шамлух</option>
