<option value="4653286">Тула</option>
    <option value="4653287">Косая Гора</option>
    <option value="4653288">Алексин</option>
    <option value="4653289">Богородицк</option>
    <option value="4653290">Донской</option>
    <option value="4653291">Северо-Задонск</option>
    <option value="4653292">Ефремов</option>
    <option value="4653293">Кимовск</option>
    <option value="4653294">Новомосковск</option>
    <option value="4653295">Узловая</option>
    <option value="4653296">Щекино</option>
    <option value="4653297">Белев</option>
    <option value="4653298">Венев</option>
    <option value="4653299">Киреевск</option>
    <option value="4653300">Плавск</option>
    <option value="4653301">Суворов</option>
    <option value="4653302">Ясногорск</option>
