<option value="4916156">Чита</option>
    <option value="4916157">Балей</option>
    <option value="4916158">Борзя</option>
    <option value="4916159">Краснокаменск</option>
    <option value="4916160">Петровск-Забайкальский</option>
    <option value="4916161">Шерловая Гора</option>
    <option value="4916162">Нерчинск</option>
    <option value="4916163">Шилка</option>
