<option value="4980983">Ярославль</option>
    <option value="4980984">Переславль-Залесский</option>
    <option value="4980985">Ростов</option>
    <option value="4980986">Рыбинск</option>
    <option value="4980987">Тутаев</option>
    <option value="4980988">Углич</option>
    <option value="4980989">Гаврилов-Ям</option>
    <option value="4980990">Данилов</option>
