<option value="1426587649">Абай</option>
    <option value="1426587665">Балхаш</option>
    <option value="1426587674">Жезказган</option>
    <option value="1426587683">Караганда</option>
    <option value="1426587684">Каражал</option>
    <option value="1426587686">Каркаралинск</option>
    <option value="1426587700">Приозёрск</option>
    <option value="1426587703">Сарань</option>
    <option value="1426587706">Сатпаев</option>
    <option value="1426587718">Темиртау</option>
    <option value="1426587729">Шахтинск</option>
    <option value="1426587770">п. Атасу</option>
    <option value="524669">Элиста</option>
    <option value="524670">Лагань</option>
    <option value="1812463720">Бишкек</option>
    <option value="1812463721">пгт Чон-Арык</option>
    <option value="235405315">Агарак</option>
    <option value="235405349">Горис</option>
    <option value="235405351">Дастакерт</option>
    <option value="235405361">Каджаран</option>
    <option value="235405362">Капан</option>
    <option value="235405373">Мегри</option>
    <option value="235405390">Сисян</option>
