<option value="5636096">Ханты-Мансийский АО</option>
    <option value="5636869">Ханты-Мансийск</option>
    <option value="5636870">Белоярский</option>
    <option value="5636871">Когалым</option>
    <option value="5636872">Лангепас</option>
    <option value="5636873">Мегион</option>
    <option value="5636874">Нефтеюганск</option>
    <option value="5636875">Нижневартовск</option>
    <option value="5636876">Нягань</option>
    <option value="5636877">Покачи</option>
    <option value="5636878">Пыть-Ях</option>
    <option value="5636879">Радужный</option>
    <option value="5636880">Сургут</option>
    <option value="5636881">Урай</option>
    <option value="5636882">Югорск</option>
    <option value="5636883">Пойковский</option>
    <option value="5636884">Излучинск</option>
    <option value="5636885">Советский</option>
    <option value="5636886">Лянтор</option>
    <option value="5636887">Белый Яр</option>
    <option value="5636888">Федоровский</option>
