<option value="5832704">Ямало-Ненецкий АО</option>
    <option value="5833497">Салехард</option>
    <option value="5833498">Губкинский</option>
    <option value="5833499">Лабытнанги</option>
    <option value="5833500">Муравленко</option>
    <option value="5833501">Надым</option>
    <option value="5833502">Новый Уренгой</option>
    <option value="5833503">Ноябрьск</option>
    <option value="5833504">Тарко-Сале</option>
