<option value="1426653194">Аркалык</option>
    <option value="1426653213">Житикара</option>
    <option value="1426653226">Костанай</option>
    <option value="1426653231">Лисаковск</option>
    <option value="1426653238">Рудный</option>
    <option value="1426653307">с. Аулиеколь</option>
    <option value="1426653308">п. Карабалык</option>
    <option value="1426653309">п. Затобольск</option>
    <option value="590207">Черкесск</option>
    <option value="590208">Карачаевск</option>
    <option value="590209">Зеленчукская</option>
    <option value="590210">Учкекен</option>
    <option value="590211">Усть-Джегута</option>
    <option value="1812529227">Ош</option>
    <option value="235470854">Айрум</option>
    <option value="235470870">Берд</option>
    <option value="235470890">Дилижан</option>
    <option value="235470896">Иджеван</option>
    <option value="235470902">с. Кохб</option>
    <option value="235470914">Ноемберян</option>
