<option value="5964800">Алушта</option>
    <option value="5964801">Армянск</option>
    <option value="5964802">Бахчисарай</option>
    <option value="5964803">Джанкой</option>
    <option value="5964804">Евпатория</option>
    <option value="5964805">Керчь</option>
    <option value="5964806">Красноперекопск</option>
    <option value="5964807">Саки</option>
    <option value="5964808">Севастополь</option>
    <option value="5964809">Симферополь</option>
    <option value="5964810">Судак</option>
    <option value="5964811">Феодосия</option>
    <option value="5964812">Ялта</option>
