<div class="cities-list">
    <div class="col-xs-12 col-md-4"><ul class="city-column">        <li class="city-el  office "  data-id="3277819">
            Москва
        </li>
            <li class="city-el  office "  data-id="3081212">
            Санкт-Петербург
        </li>
            <li class="city-el "  data-id="1966569">
            Астрахань
        </li>
            <li class="city-el "  data-id="1442636">
            Барнаул
        </li>
            <li class="city-el "  data-id="2228718">
            Волгоград
        </li>
            <li class="city-el "  data-id="2359341">
            Воронеж
        </li>
            <li class="city-el "  data-id="4326100">
            Екатеринбург
        </li>
            <li class="city-el "  data-id="1180248">
            Ижевск
        </li>
            <li class="city-el "  data-id="2491252">
            Иркутск
        </li>
            <li class="city-el "  data-id="1049154">
            Казань
        </li>
    </ul></div><div class="col-xs-12 col-md-4"><ul class="city-column">        <li class="city-el "  data-id="2556192">
            Калининград
        </li>
            <li class="city-el "  data-id="1507732">
            Краснодар
        </li>
            <li class="city-el "  data-id="1573724">
            Красноярск
        </li>
            <li class="city-el "  data-id="1049164">
            Набережные Челны
        </li>
            <li class="city-el "  data-id="3408493">
            Нижний Новгород
        </li>
            <li class="city-el "  data-id="3539875">
            Новосибирск
        </li>
            <li class="city-el "  data-id="3605427">
            Омск
        </li>
            <li class="city-el "  data-id="3670656">
            Оренбург
        </li>
            <li class="city-el "  data-id="3867286">
            Пермь
        </li>
            <li class="city-el "  data-id="3998211">
            Ростов-на-Дону
        </li>
    </ul></div><div class="col-xs-12 col-md-4"><ul class="city-column">        <li class="city-el "  data-id="4129449">
            Самара
        </li>
            <li class="city-el "  data-id="4194999">
            Саратов
        </li>
            <li class="city-el "  data-id="1704394">
            Ставрополь
        </li>
            <li class="city-el "  data-id="4129457">
            Тольятти
        </li>
            <li class="city-el "  data-id="4653286">
            Тула
        </li>
            <li class="city-el "  data-id="4719359">
            Тюмень
        </li>
            <li class="city-el "  data-id="4784841">
            Ульяновск
        </li>
            <li class="city-el "  data-id="131618">
            Уфа
        </li>
            <li class="city-el "  data-id="4850465">
            Челябинск
        </li>
    <li onclick="Actions.location.selectAnother(this)">Выбрать другой</li></div>
</div>
<div class="cities-description-wrapper">
    <span><i class="mdi mdi-map-marker"></i> маркером отметкой отмечены города с нашими складами</span>
</div>
<div class="cities-selector-wrapper select-another-city-wrapper"  style="display: none; ">
    <div class="cities-selector">
        <div class="cities-select-wrapper">
            <select onchange="Actions.location.changeRegion(this)">
                                    <option value="47">Ленинградская область</option>
                                    <option value="50">Московская область</option>
                                    <option value="1">Республика Адыгея</option>
                                    <option value="2">Республика Башкортостан</option>
                                    <option value="3">Республика Бурятия</option>
                                    <option value="4">Республика Алтай</option>
                                    <option value="5">Республика Дагестан</option>
                                    <option value="6">Республика Ингушетия</option>
                                    <option value="7">Кабардино-Балкарская Республика</option>
                                    <option value="8">Республика Калмыкия</option>
                                    <option value="9">Карачаево-Черкесская Республика</option>
                                    <option value="10">Республика Карелия</option>
                                    <option value="11">Республика Коми</option>
                                    <option value="12">Республика Марий Эл</option>
                                    <option value="13">Республика Мордовия</option>
                                    <option value="14">Республика Саха (Якутия)</option>
                                    <option value="15">Республика Северная Осетия - Алания</option>
                                    <option value="16">Республика Татарстан</option>
                                    <option value="17">Республика Тыва</option>
                                    <option value="18">Удмуртская Республика</option>
                                    <option value="19">Республика Хакасия</option>
                                    <option value="20">Чеченская Республика</option>
                                    <option value="21">Чувашская Республика</option>
                                    <option value="22">Алтайский край</option>
                                    <option value="23">Краснодарский край</option>
                                    <option value="24">Красноярский край</option>
                                    <option value="25">Приморский край</option>
                                    <option value="26">Ставропольский край</option>
                                    <option value="27">Хабаровский край</option>
                                    <option value="28">Амурская область</option>
                                    <option value="29">Архангельская область</option>
                                    <option value="30">Астраханская область</option>
                                    <option value="31">Белгородская область</option>
                                    <option value="32">Брянская область</option>
                                    <option value="33">Владимирская область</option>
                                    <option value="34">Волгоградская область</option>
                                    <option value="35">Вологодская область</option>
                                    <option value="36">Воронежская область</option>
                                    <option value="37">Ивановская область</option>
                                    <option value="38">Иркутская область</option>
                                    <option value="39">Калининградская область</option>
                                    <option value="40">Калужская область</option>
                                    <option value="41">Камчатский край</option>
                                    <option value="42">Кемеровская область</option>
                                    <option value="43">Кировская область</option>
                                    <option value="44">Костромская область</option>
                                    <option value="45">Курганская область</option>
                                    <option value="46">Курская область</option>
                                    <option value="48">Липецкая область</option>
                                    <option value="49">Магаданская область</option>
                                    <option value="51">Мурманская область</option>
                                    <option value="52">Нижегородская область</option>
                                    <option value="53">Новгородская область</option>
                                    <option value="54">Новосибирская область</option>
                                    <option value="55">Омская область</option>
                                    <option value="56">Оренбургская область</option>
                                    <option value="57">Орловская область</option>
                                    <option value="58">Пензенская область</option>
                                    <option value="59">Пермский край</option>
                                    <option value="60">Псковская область</option>
                                    <option value="61">Ростовская область</option>
                                    <option value="62">Рязанская область</option>
                                    <option value="63">Самарская область</option>
                                    <option value="64">Саратовская область</option>
                                    <option value="65">Сахалинская область</option>
                                    <option value="66">Свердловская область</option>
                                    <option value="67">Смоленская область</option>
                                    <option value="68">Тамбовская область</option>
                                    <option value="69">Тверская область</option>
                                    <option value="70">Томская область</option>
                                    <option value="71">Тульская область</option>
                                    <option value="72">Тюменская область</option>
                                    <option value="73">Ульяновская область</option>
                                    <option value="74">Челябинская область</option>
                                    <option value="75">Забайкальский край</option>
                                    <option value="76">Ярославская область</option>
                                    <option value="79">Еврейская АО</option>
                                    <option value="83">Ненецкий АО</option>
                                    <option value="86">Ханты-Мансийский АО</option>
                                    <option value="87">Чукотский АО</option>
                                    <option value="89">Ямало-Ненецкий АО</option>
                                    <option value="90">Байконур</option>
                                    <option value="91">Республика Крым</option>
                            </select>
        </div>
        <div class="cities-select-wrapper">
            <select class="cities-list-select">
                <option value="3081212">Санкт-Петербург</option>
    <option value="3080487">Бокситогорск</option>
    <option value="3080488">Волхов</option>
    <option value="3080489">Всеволожск</option>
    <option value="3080490">Выборг</option>
    <option value="3080491">Гатчина</option>
    <option value="3080492">Кингисепп</option>
    <option value="3080493">Кириши</option>
    <option value="3080494">Кировск</option>
    <option value="3080495">Лодейное Поле</option>
    <option value="3080496">Луга</option>
    <option value="3080497">Пикалево</option>
    <option value="3080498">Подпорожье</option>
    <option value="3080499">Приозерск</option>
    <option value="3080500">Сертолово</option>
    <option value="3080501">Сланцы</option>
    <option value="3080502">Сосновый Бор</option>
    <option value="3080503">Тихвин</option>
    <option value="3080504">Тосно</option>
    <option value="3080505">Светогорск</option>
    <option value="3080506">Коммунар</option>
    <option value="3080507">Отрадное</option>
    <option value="3080508">Никольское</option>
    <option value="3080509">Колпино</option>
    <option value="3080510">Металлострой</option>
    <option value="3080511">Красное Село</option>
    <option value="3080512">Сестрорецк</option>
    <option value="3080513">Павловск</option>
    <option value="3080514">Петергоф</option>
    <option value="3080515">Пушкин</option>
    <option value="3080516">Шушары</option>
            </select>
        </div>
        <button type="button" class="green-btn select-city-btn">Выбрать</button>
    </div>